<DOCTYPE html>
<html>
    <body>

p {
	color: DodgerBlue;
	text-align: center;
    
    font-family: "Times New Roman", Times, serif;
}

<h1>Jania's random meme page :)</h1>
<p>Hello and wellcome to my website</p> 
<p>I hope you like it :)</p>
    
    </body>
</html>
